{% extends 'TestBundle::layout.html.twig' %}

{% block body %}
    <section ng-controller="pokerController">
        funcionando
        {% verbatim %}
        <button ng-click="getToken()">token</button>
        <button ng-click="getCards(token)">cards</button>
        <button ng-click="checkWinner(cards)">check winner</button>
        {% endverbatim %}
    </section>
{% endblock %}